

.web-header .header-wrapper .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1440px;
    height: 100%;
}


body {
    overflow-y: scroll;
    line-height: 1.5em;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

article, blockquote, body, dd, div, dl, dt, h1, h2, h3, h4, html, li, main, ol, 
p, section, table, tbody, td, th, thead, tr, ul {
    margin: 0;
    padding: 0;
}

a, address, article, aside, audio, b, body, button, canvas, caption, dd, div, dl, dt, 
em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, 
i, img, input, label, legend, li, nav, ol, p, pre, section, small, span, strong, summary, 
table, tbody, td, th, thead, time, tr, ul, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}


body, body button, body input, body li, body ol, body select, body textarea, body ul {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

button {
    background: none;
    color: inherit;
    border-radius: 0;
    cursor: pointer;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.page-container {
    transform-origin: 50% 0;
    transition-property: opacity,transform;
    transition-duration: 80ms;
    transition-timing-function: ease-out;
}

.header-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}

.web-header {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition: top .25s;
    z-index: 99;
    width: 100%;
}

.web-header-mobile {
    display: block;
    position: relative;
}

.header-wrapper {
    position: relative;
    top: 0;
    z-index: 9998;
    background-color: #fff;
    width: 100%;
    height: 56px;
    text-align: center;
}

.mobile-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1440px;
    height: 100%;
}


.header-mobile-back, .header-mobile-home {
    position: absolute;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

.header-mobile-back {
    left: 16px;
}

.header-icon {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.header-mobile-home {
    right: 16px;
}

.logo-css {
    display: none;
    text-align: center;
}

@media (max-width: 1050px) {
    .logo-css {
        display: block;
    }
}